.usersContainer {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.usersTopContainer {
    width: 100%;
    background-color: #F5F5F7;
}

.usersTop {
    display: flex;
    align-items: center;
    height: 46px;
    width: 97.5%;
    padding: 10px 18px;
    justify-content: space-between;
    gap: 38px;
}

.usersTopLeft {
    width: 84px;
    display: flex;
    gap: 24px;
    justify-content: space-between;
    align-items: center;
}

.selectedCheckbox {
    border-radius: 4px;
    width: 19px;
    height: 19px;
    border: 1px solid #82868C;
}

.selectedCheckbox:checked {
    color: #2940D3;
}

.usersTopRight {
    width: 100%;
    display: flex;
    justify-content: start;
}

.rightSection {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.usersTopText {
    font-family: Montserrat;
    font-size: 12px;
    font-weight: 600;
    line-height: 14.63px;
    width: 30vw;
    max-width: 30vw;
    display: flex;
    justify-content: start;
}

.usersTopEdit {
    font-family: Montserrat;
    font-size: 12px;
    font-weight: 600;
    line-height: 14.63px;
    display: flex;
    justify-content: start;
    max-width: 20vw;
    width: 20vw;
}

.usersList {
    width: 100vw;
    background-color: #fff;
}

.usersContainer {
    background-color: #fff;
    padding: 0;
    margin: 0;
}

.userItem {
    width: 97.5%;
}

.usersText {
    display: flex;
    font-family: Montserrat;
    font-size: 12px;
    font-weight: 500;
    line-height: 14.63px;
    text-align: left;
    max-width: 30vw;
    color: #3A3C40;
    width: 30vw;
}

.usersEdit {
    max-width: 20vw;
    display: flex;
    gap: 8px;
    width: 20vw;
}



.userImage {
    width: 42px;
    height: 42px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
}

.css-10w330c-MuiButtonBase-root-MuiPaginationItem-root.Mui-selected {
    background: #2940D3 !important;
    color: #fff !important;
}

@media screen and (max-width:1290px) {
    .usersTopText {
        max-width: 20vw;
    }

    .usersTopEdit {
        max-width: 15vw;
    }

    .usersText {
        max-width: 20vw;
    }

    .usersEdit {
        max-width: 15vw;
    }
}


@media screen and (max-width:1030px) {
    .usersTopText {
        max-width: 15vw;
    }

    .usersTopEdit {
        max-width: 10vw;
    }

    .usersText {
        max-width: 15vw;
    }

    .usersEdit {
        max-width: 10vw;
    }
}





@media screen and (max-width:640px) {
    .userItemIcon {
        max-width: 22px;
        max-height: 22px;
    }
}