.searchContainer {
    display: flex;
    align-items: center;
    padding: 25px 15px;
    justify-content: space-between;
    width: 97.5%;
    height: 40px;
}

.searchLeft {
    display: flex;
    width: 80%;
    gap: 12px;
}

.searchInput {
    width: 100%;
    border: none;
    padding: 10px;

}

.searchInput::placeholder {
    font-size: 12px;
    font-weight: 500;
    color: #82868C;
}

.searchRight {
    display: flex;
    width: 79px;
    height: 30px;
    justify-content: space-between;
}