@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
    padding: 0;
    margin: 0;
}

body,
html {
    width: 100vw;
    overflow-x: hidden;
}

#root {
    width: 100%;
    border-radius: 8px;


}